<!DOCTYPE html>
<html>
<head>
    <style>
        .row {
            display: flex;
        }

        .column {
            flex: 50%;
            border-right: 1px solid black;
            width: 50%;
            margin:0 auto;
            text-align:center;
        }

        .column img {
            width: 100%;
        }

        .column video {
            width: 100%;
        }
    </style>
  <title>GrowCam Dashboard</title>
</head>
<body>
    <div class="row">
        <div class="column">
            <h1>Latest Snapshots</h1>
                {% for img in images %}
                <div>
                    <p>{{ img }}</p>
                    <img src="{{ url_for('static', filename='snapshots/' + img) }}">
                </div>
            {% endfor %}
        </div>
        <div class="column">
            <h1>Current Snapshot and Timelapse</h1>
                <div>
                    <p>Snapshot from now!</p>
                    <img src="{{ url_for('static', filename='current_snapshot/current_snapshot.jpg') }}">
                </div>
                <div>
                    <p>Timelapse so far!</p>
                    <video controls="controls">
                        <source src="{{ url_for('static', filename='current_timelapse.mp4') }}" type="video/mp4">
                    </video>
                </div>
        </div>
    </div>
</body>
</html>